* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    scroll-behavior: smooth;
}

html,body{
    flex-direction: column;
    display: flex;
    flex-direction: column;
  }

body {
    position: relative;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(211, 230, 243);
}

.navbar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#131313;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    z-index: 1;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 6vh;
}

#navbar_logo {
    color: #22b0ba;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3vh;
    
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #5ba2b0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar_links:hover {
    color: #fff;
    transition: all 0.3s ease;
}

/* mobile menu navbar display */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        z-index: 1;
        width: 100%;
        max-width: 100vw;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 0.9;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .introduction-text {
        font-size: 2vh;
    }
}

.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50vh;
    padding: 8vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #0f2645;
    color: rgb(182, 219, 218);
    font-size: 4vh;
  }

.content {
    min-height: calc(100vh - 480px);
    height: auto;
    margin-bottom: 100px;
}

footer {
    overflow: hidden;
    padding: 20px;
    position: absolute;
    margin-top: auto;
    margin-bottom: 0px;
    bottom: 0;
    background-color: #131313;
    height: 20vh;
    width: 100%;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.message {
    margin-bottom: 2%;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    font-size: 5vh;
    text-shadow: 0 0 3px #0000ff, 0 0 5px #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introduction-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    width: 75%;
    padding: 30px;
    line-height: 1.5;
    font-size: 2.5vh;
    background-color: rgb(233, 245, 255);
    margin: auto;
    margin-bottom: 3%;

}

.members {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: auto;
    gap: 4vh;
}

.member {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4vh;
    border-radius: 3vh;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(132, 210, 232);
    min-height: 45vh;
    height: auto;
    width: 86vh;
    justify-content: center;
    align-content: center;
    transition: all 0.7s ease;
    /* box-shadow: 1vh 1vh 3vh #5874c7 inset; */
    h2 {
        font-size: 3.5vh;
        color: #fff;
        text-shadow: 0 0 3px #0000ff, 0 0 5px #000000;
      }
    h3 {
        font-size: 2.5vh;
        margin: 2%;
        border-radius: 4vh;
        background-color: #22b0ba;
    }
    .centered-img{
        img{
            width: 27vh;
            margin-right: 2vh;
            border-radius: 20vh;
        }
    }
    .centered-img:hover {
        img { 
            transition: all 0.3s ease;
            transform: scale(1.05);
        }
    }
    .member-info {
        color: #0f2645;
        font-size: 2.25vh;
        justify-content: center;
        align-items: center;
        width: 50vh;
    }
}

.member:hover {
    background-color: rgb(132, 182, 232);
    transform: scale(1.06);
}

@media screen and (max-width: 960px) {
    .members {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        width: auto;
    }

    .message {
        font-size: 3.5vh;
    }
    .member {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 3vh;
        display: grid;
        grid-template-columns: auto;
        padding: 4vh;
        background-color: rgb(132, 210, 232);
        height: auto;
        width: 43vh;
        justify-content: center;
        align-content: center;
        transition: all 0.7s ease;
        box-shadow: 5px 5px 10px #4b64af inset;
        h2 {
            font-size: 3.5vh;
            color: #fff;
            text-shadow: 0 0 3px #0000ff, 0 0 5px #000000;
        }
        h3 {
            font-size: 2.5vh;
            justify-self: center;
            width: 40vh;
            border-radius: 20px;
            background-color: #22b0ba;
        }

        p {
            height: auto;
            width: 40vh;
            justify-self: center;
        }
        .centered-img{
            img{
                width: 20vh;
                border-radius: 20vh;
            }
        }
    }
    .member-info {
        font-size: 2vh;
        justify-content: center;
        align-items: center;
    } 
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* scrollbar track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #030d39;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #4b64af; 
    border-radius: 10px;
}
  
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f5494; 
}

*::before, *::after {
    box-sizing: border-box
}
.carousel {
    max-width: 90vh;
    height: 40vh;
    position: relative;
    margin: auto;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.slides {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slides > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slides[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 5;
    transform: translateY()-50%;
    color: #fff;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);
}

.carousel-button:hover, .carousel-button:focus{
    background-color: rgba(0,0,0,.3);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.right {
    right: 1rem;
}