* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navbar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    color: #22b0ba;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #5ba2b0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar_links:hover {
    color: #fff;
    transition: all 0.3s ease;
}

/* mobile menu navbar display */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 0.9;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 360px;
    padding: 60px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #0f2645;
    color: rgb(182, 219, 218);
    font-size: 30px;
  }

.content {
    background-color: aliceblue;
    height: 1500px;
    text-align: center;
    min-height: calc(100vh - 480px)
}

.footer {
    position: bottom;
    background-color: #131313;
    height: 300px;
    color: aqua;
}

.message {
    margin-bottom: 2%;
    justify-content: center;
    align-content: center;
    color: #22b0ba;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.introduction-text {
    width: 75%;
    line-height: 1.5;
    font-size: 25px;
    background-color: rgb(233, 245, 255);
    margin: auto;
    margin-bottom: 3%;
    box-shadow: 1px 5px 3px 2px rgb(15, 35, 42);

}